<meta charset="UTF-8">
<title>Tech Lovers</title>

<!-- CSS (load bootstrap from a CDN) -->


 <meta charset="utf-8">

 <!-- Responsive Metatag -->
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 <!-- Page Description and Author -->
 <meta name="description" content="Tech Lovers">
 <meta name="author" content="Osama Tariq">

 <!-- Bootstrap CSS  -->
 <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">

 <!-- Font Awesome CSS -->
 <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

 <!-- Owl Carousel CSS -->
 <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
 <link rel="stylesheet" href="css/owl.theme.css" type="text/css">
 <link rel="stylesheet" href="css/owl.transitions.css" type="text/css">
 
 <!-- Css3 Transitions Styles  -->
 <link rel="stylesheet" type="text/css" href="css/animate.css">
 
 <!-- Lightbox CSS -->
 <link rel="stylesheet" type="text/css" href="css/lightbox.css">

 <!-- Sulfur CSS Styles  -->
 <link rel="stylesheet" type="text/css" href="css/style.css">

 <!-- Responsive CSS Style -->
 <link rel="stylesheet" type="text/css" href="css/responsive.css">
 <link href="css/templatemo-xtra-blog.css" rel="stylesheet">

 <script src="js/modernizrr.js"></script>