
        
    <!-- Start Top Bar -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-bar">
                    <div class="row">
                            
                        <div class="col-md-6">
                            <!-- Start Contact Info -->
                            <ul class="contact-details">
                                <li><a href="#"><i class="fa fa-phone"></i> +92 332 4414997</a>
                                </li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i> ali13nadeem@gmail.com</a>
                                </li> 
                            </ul>
                            <!-- End Contact Info -->
                        </div><!-- .col-md-6 -->
                    </div>                        
                </div>
            </div>                        

        </div><!-- .row -->
    </div><!-- .container -->
    <!-- End Top Bar -->

    <!-- Start  Logo & Naviagtion  -->
    <div class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->
                <a class="navbar-brand" href="/">Tech Lovers</a>
            </div>
            <div class="navbar-collapse collapse">
                
                <!-- Start Navigation List -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="active" href="/">Home</a>
                    </li>
                    <li>
                        <a href="/Create-Blog">Create New Blog</a>
                    </li>
                    <li>
                        <a href="/blog">Blogs</a>
                    </li>
                </ul>
                <!-- End Navigation List -->
            </div>
        </div>
    </div>
    <!-- End Header Logo & Naviagtion -->
    